events {}

http {
  upstream webapp {
    server {{ web_container_name }}:5000;
  }

  server {
    listen 80;

    location / {
      proxy_pass http://webapp;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /healthz {
      return 200 'OK';
      add_header Content-Type text/plain;
    }
  }
}
